body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.container {
  width: 100%;
}

.container.image {
  height: 100vh;
  background-image: url(../images/picasso.jpg);
  opacity: 0.45;
  background-repeat: no-repeat;
  background-size: inherit;
}

.search-results,
.user-favorites,
.selection {
  position: relative;
  height: 82vh;
}

.favorites-content {
  position: relative;
  height: 90%;
}

.row,
.favorites-row,
.selection-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.col-full {
  width: 100%;
  margin: 1rem;
}

.col-half {
  width: 50%;
}

img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .container.image {
    background: url(../images/larger-picasso.jpg);
  }
}

@media screen and (min-width: 675px) {
  .col-quarter {
    width: 25%;
  }

  .col-half-fav {
    width: 50%;
  }
}

@media screen and (min-width: 750px) {
  .selection-container {
    width: 700px;
  }

  .selection {
    display: flex;
    justify-content: center;
  }
}
