* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  color: rgb(44, 44, 44);
  position: relative;
  height: 100%;
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
}

h1 {
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer;
}

h2 {
  margin: 1rem;
  font-weight: 400;
  font-size: 20px;
}

header {
  position: static;
  background-color: rgba(0, 118, 226, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5rem;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.container.searchbox {
  z-index: 2;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search {
  width: 75%;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.search {
  font-size: 24px;
  margin-bottom: 5px;
}

.entry {
  font-size: 12px;
  background-color: white;
  padding: 3px;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.entries-container {
  z-index: 2;
  position: absolute;
  width: 75%;
  height: 60%;
  overflow-y: scroll;
  border-radius: 10px;
}

.float-entries {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-results,
.user-favorites,
.selection {
  height: 88%;
  overflow-y: scroll;
}

.selection {
  display: flex;
  flex-wrap: wrap;
}

.row,
.favorites-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.back-button {
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
  text-align: left;
  color: rgb(93, 93, 93);
  cursor: pointer;
}

.selection-container {
  margin: 2rem;
  margin-top: 1.5rem;
}

.col-half-fav {
  padding: 1.5rem;
  padding-top: 0;
}

.col-half {
  padding: 0.5rem;
}

.heart {
  font-size: 24px;
  color: lightgray;
  padding-top: 1rem;
  float: right;
  padding-right: 3px;
  cursor: pointer;
}

button {
  border: none;
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: rgb(235, 133, 133);
}

.yes {
  background-color: rgb(188, 188, 188);
}

.favorites-title {
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.loader-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.loader {
  border: 5px solid rgb(101, 101, 101);
  border-top: 5px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-page {
  position: static;
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
