* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.like-modal-container {
  padding: 1.5rem;
  padding-bottom: 2rem;
  width: 80%;
  height: 27%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
}

.modal-container {
  width: 100%;
  background-color: white;
  padding: 0.2rem;
  padding-left: 15px;
}

h1 {
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 300;
}

h2 {
  margin: 1rem;
  font-weight: 400;
  font-size: 20px;
}

header {
  height: 12%;
  position: static;
  background-color: rgba(0, 118, 226, 1);
  color: rgba(189, 189, 189, 1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5rem;
}

.icon {
  font-size: 30px;
}

.container.searchbox {
  z-index: 2;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search {
  width: 75%;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.search {
  font-size: 24px;
  margin-bottom: 5px;
}

.entry {
  font-size: 12px;
  background-color: white;
  padding: 3px;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.entries-container {
  z-index: 2;
  position: absolute;
  width: 75%;
  height: 60%;
  overflow-y: scroll;
  border-radius: 10px;
}

.float-entries {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row,
.favorites-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.selection-container {
  margin: 2rem;
}

.col-half-fav {
  padding: 1.5rem;
  padding-top: 0;
}

.col-half {
  padding: 0.5rem;
}

.heart {
  font-size: 24px;
  color: lightgray;
  padding-top: 1rem;
  float: right;
  padding-right: 3px;
}

button {
  border: none;
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}

.cancel {
  background-color: rgb(235, 133, 133);
}

.yes {
  background-color: rgb(188, 188, 188);
}

.favorites-title {
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}
